@charset "UTF-8";
/* CSS Document */
button{
	color: black;
}

td{
	padding: 3px;
}

tr:nth-child(even){
    background-color: aliceblue;
}

.painel{
	padding-top: 60px;
}

.btn.ng-invalid{
	background-color: red;
}

.btn.ng-valid{
	background-color: green;
}

fieldset{
	margin-top: 10px;
	padding: 10px;
	border: thin solid lightgray;
	border-radius: 5px;
}

div.painel{
	margin: 10px;
}

.glyphicon-arrow-down{
    color: red;
}

.glyphicon-arrow-up{
    color: limegreen;
}

div.report{
    width: 186px;
    margin: 10px;
    padding: 0;
}

div.direita{
    width: 44px;
    height: 88px;
    background-color: darkorange;
    padding: 0;
}
div.esquerda{
    width: 140px;
    left: 0;
    padding: 0;
}

div.cabecalho{
    clear: both;
    display: block;
    text-align: center;
}

div.rodape{
    clear: both;
    display: block;
    text-align: center;
}

div.cartao{
    border: thin solid lightgray;
	border-radius: 5px;
    width: 186px;
    padding: 0;
}

img.img_report{
    max-width: 140px;
    max-height: 88px;
    display: block;
}

span.icone{
    color: white;
    top: 48%;
    left: 34%;
}
