@charset "UTF-8";
/* CSS Document */

button{
	color: black;
}

td{
	padding: 3px;
}

tr:nth-child(even){
    background-color: aliceblue;
}

.painel{
	padding-top: 60px;
}

.btn.ng-invalid{
	background-color: red;
}

.btn.ng-valid{
	background-color: green;
}

fieldset{
	margin-top: 10px;
	padding: 10px;
	border: thin solid lightgray;
	border-radius: 5px;
}

div.painel{
	margin: 10px;
}

.glyphicon-arrow-down{
    color: red;
}

.glyphicon-arrow-up{
    color: limegreen;
}

div.report{
    width: 186px;
    margin: 10px;
}

div.direita{
    width: 44px;
    height: 88px;
    background-color: darkorange;
    padding: 0;
}
div.esquerda{
    position: relative;
    width: 140px;
    left: 0;
    padding: 0;
}

div.cabecalho{
    text-align: center;
    padding: 0;
}

div.rodape{
    clear: both;
    display: block;
    text-align: center;
}

div.cartao{
    border: thin solid lightgray;
	border-radius: 5px;
    width: 186px;
    padding: 0;
    left: 0;
    right: 0;
}

img.img_report{
    position: absolute;
    max-width: 140px;
    max-height: 88px;
    display: block;
}

img.img_banner{
    position: absolute;
    z-index: 2;
    width: 44px;
}

span.icone{
    color: white;
    top: 48%;
    left: 34%;
}

figure img{
    max-height: 100%;
    max-width: 100%;
}

.modal-x {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog-x {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content-x {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid lightgray;
  border-radius: 0;
  box-shadow: none;
}

.modal-header-x {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: darkorange;
  border: 0;
}

.modal-close-x{
    font-size: 24px;
    margin-right: 10px;
}

.modal-title-x {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body-x {
  position: absolute;
  top: 50px;
  bottom: 5px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer-x {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

iframe.full{
    height: 100% !important;
    width: 99%;
    border: 0;
}
