@charset "UTF-8";
/* CSS Document */

.ajax-loader {
    width: 15%;
    position: relative;
    display: inline-block;
}

.ajax-loader-sm {
    width: 10%;
    position: relative;
    display: inline-block;
}


