.back-gray{
    background-color: rgb(240, 240, 240);
}

.md-menu__link{
    width: 100%;
    text-align: left;
    padding-left: 44px
}

.logo-login{
    width: 88px;
    margin: 33px;
}

.md-p{
    display: block;
    word-break: break-all;
    text-overflow: ellipsis;
}

.dialog-form{
    min-width: 320px;
}
