<div>
    <ul class="breadcrumb">
        <li><a href="#/principal">Início</a></li>
        <li class="active">Clientes</li>
    </ul>

<button type="button" ng-click="cliCtrl.limpaCliente()" class="btn btn-default btn-md btn-success" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="POST">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar
</button>

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group has-feedback">
                <input class="form-control" type="search" ng-model="cliCtrl.busca" placeholder="Filtre clientes ...">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    <form name="frm" ng-submit="cliCtrl.enviar()"> <!-- conteudo por controle -->


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Cliente</h4> <!-- Nome do controle -->

      </div>

      <div class="modal-body">

      <!-- ===============================
                Campos do Formulário
                      Início
           ===============================-->

		<div class="row">
            <div class="col-md-3">
        		<label for="fCnpj">CNPJ</label>
				<input class="form-control" name="fCnpj" type="text" ng-model="cliCtrl.cliente.cnpj" required>
        	</div>
        	<div class="col-md-3">
        		<label for="fRazao">Razão Social</label>
				<input class="form-control" name="fRazao" type="text" ng-model="cliCtrl.cliente.razao_social" required>
        	</div>
            <div class="col-md-3">
        		<label for="fFantasia">Nome de Fantasia</label>
				<input class="form-control" name="fFantasia" type="text" ng-model="cliCtrl.cliente.nome_fantasia" required>
        	</div>
    	</div>

    	<div class="row">
        	<div class="col-md-4">
        		<label for="fEndereco">Endereço</label>
				<input class="form-control" name="fEndereco" type="text" ng-model="cliCtrl.cliente.endereco" required>
        	</div>
    	</div>

        <div class="row">
        	<div class="col-md-4">
        		<label for="fPlano">Plano</label>
				<select class="form-control" name="fPlano" ng-model="cliCtrl.planoAtual">
                    <option ng-repeat="plano in cliCtrl.listaPlanos" value="{{plano._id}}">
                        {{plano.nome}} - {{plano.limite_usuarios}} licenças
                    </option>
				</select>
        	</div>
    	</div>

        <fieldset name="telefones">
            <legend>Telefones de Contato</legend>
            <ng-form name="fTelefones">
                <div class="row">
    		      <div class="col-md-3">
        		      <label for="fContato">Nome do Contato</label>
				      <input class="form-control" name="fContato" type="text" ng-model="cliCtrl.telefone.contato">
        	      </div>
                  <div class="col-md-3">
        		      <label for="fNumero">Número</label>
				      <input class="form-control" name="fNumero" type="text" ng-model="cliCtrl.telefone.numero">
        	      </div>
    		    </div>
                <button type="button" class="btn btn-success btn-sm" ng-click="cliCtrl.adicionarTelefone()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar</button>

            </ng-form>
            <table class="table table-stripped table-hover">
			<thead>
				<tr>
    				<th>Contato</th>
        			<th>Número</th>
                    <th>Operação</th>
        		</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tel in cliCtrl.cliente.telefones">
    				<td>{{tel.contato}}</td>
                    <td>{{tel.numero}}</td>
                    <td><button class="btn btn-danger btn-xs" type="button" ng-click="cliCtrl.removerTelefone($index)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Remover</button></td>
                </tr>
            </tbody>
            </table>
          </fieldset>
		<!-- ===============================
                  Campos do Formulário
                         FIM
             ===============================-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Fechar</button>
        <button-spinner action="cliCtrl.enviar()" titulo="Salvar" verbo="POST" secure="true"></button-spinner>
      </div>

      </form>
    </div>
  </div>
</div>

<!--
Tabela por controle
-->

<table class="table table-stripped table-hover" guarda guarda-verbo="GET">
<thead>
	<tr>
    	<th>CNPJ</th>
        <th>Razão Social</th>
        <th>Nome de Fantasia</th>
        <th>Plano</th>
        <th>Licenças</th>
        <th>Operações</th>
    </tr>
</thead>
<tbody>
	<tr ng-repeat="cli in cliCtrl.lista | filter:cliCtrl.busca">
    	<td>{{cli.cnpj}}</td>
    	<td>{{cli.razao_social}}</td>
        <td>{{cli.nome_fantasia}}</td>
        <td>{{cli.plano.nome}}</td>
        <td>{{cli.plano.limite_usuarios}}</td>
        <td>
        	<button class="btn btn-warning btn-xs" type="button" ng-click="cliCtrl.editar(cli)" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="PUT"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>

            <button-spinner action="cliCtrl.remover(cli)" titulo="Remover" verbo="DELETE" size="xs" secure="true"></button-spinner>
        </td>
    </tr>
</tbody>
</table>
</div>
