<div>
    <div layout="row" layout-align="space-between center">
        <span flex></span>
        <md-input-container class="md-block" flex="40">
            <label>Painel</label>

            <input ng-model="painelAtual.titulo" required>
        </md-input-container>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="openRightMenu()">
            <md-icon>menu</md-icon>
        </md-button>
    </div>

    <md-grid-list
        md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
        md-row-height-gt-md="2:2" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" style="margin: 10px">

        <md-grid-tile ng-repeat="c in celulas" ng-class="classCelula(c.empty)" layout="column" layout-align="center center">
            <!-- Botão adicionar ou md-card chart -->
            <md-card class="full" ng-show="!c.empty">
                <div id="vis_div" style="width: 100%; height: 100%"></div>
            </md-card>

            <md-button class="md-icon-button" ng-click="showDialog($event, null)" ng-show="c.empty">
                <md-icon>add</md-icon>
            </md-button>
        </md-grid-tile>

    </md-grid-list>
</div>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-subheader layout="row" layout-align="space-between center">
        <md-button class="md-icon-button" ng-click="newDashboard()">
            <md-icon>
                note_add
            </md-icon>

            <md-tooltip md-direction="bottom">
                Novo
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="saveDashboard()">
            <md-icon>
                save
            </md-icon>

            <md-tooltip md-direction="bottom">
                Salvar
            </md-tooltip>
        </md-button>
    </md-subheader>

    <md-divider></md-divider>

    <md-content>
        <md-list>
        </md-list>
    </md-content>
</md-sidenav>


<!--

<md-button ng-click="loadEditor()">Gráfico</md-button>
<md-button ng-click="mudaDados()">Muda Dados</md-button>

<div id="vis_div" style="height: 400px; width: 600px;"></div>-->
