<div>
    <ul class="breadcrumb">
        <li><a href="#/principal">Início</a></li>
        <li class="active">Paineis</li>
    </ul>

    <button type="button" ng-click="pnlCtrl.novoPainel()" class="btn btn-default btn-md btn-success" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="POST">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar
    </button>

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group has-feedback">
                <input class="form-control" type="search" ng-model="pnlCtrl.busca" placeholder="Filtre paineis ...">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>
    </div>

    <table class="table table-stripped table-hover" guarda guarda-verbo="GET">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Data de Criação</th>
                <th>Operações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="painel in pnlCtrl.lista | filter:pnlCtrl.busca">
                <td>{{painel.titulo}}</td>
                <td>{{painel.descricao}}</td>
                <td>{{painel.data_criacao}}</td>
                <td>
                    <button class="btn btn-warning btn-xs" type="button" ng-click="pnlCtrl.editar(painel)" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="PUT"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>

                    <button-spinner action="pnlCtrl.remover(painel)" titulo="Remover" verbo="DELETE" size="xs" secure="true"></button-spinner>

                    <button class="btn btn-warning btn-xs" type="button" ng-click="pnlCtrl.exibir(painel)" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="PUT"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Exibir</button>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal de criação de paineis -->

    <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="frm" ng-submit="pnlCtrl.enviar()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Criação de Paineis</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label" for="fTitulo">Título: </label>
                                <input id="fTitulo" type="text" class="form-control" ng-model="pnlCtrl.painel.titulo" placeholder="Digite um título.">
                            </div>

                            <div class="col-md-6">
                                <label class="form-label" for="fDescricao">Descrição: </label>
                                <textarea id="fDescricao" class="form-control" ng-model="pnlCtrl.painel.descricao" placeholder="Digite uma descrição."></textarea>
                            </div>
                        </div>

                        <fieldset name="componentes">
                            <legend>Componentes</legend>

                            <ng-form name="fComponentes">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label for="fFonte" class="control-label"><strong>Fonte de Dados: </strong></label>
                                    <select style="width: 40%; min-width: 120px" ng-model="pnlCtrl.fonteAtual" ng-options="f as f.nome for f in pnlCtrl.fontes"></select>
                                            </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                    <label for="fFonte" class="control-label"><strong>Tipo do Gráfico: </strong></label>
                                    <div class="btn-group" role="group" aria-label="...">

                                        <button-chart indice="1" callback="pnlCtrl.grafico(tipo, subtipo)" titulo="Pizza" tipo="dxPieChart" subtipo="">
                                        </button-chart>

                                        <button-chart indice="2" callback="pnlCtrl.grafico(tipo, subtipo)" titulo="Barras" tipo="dxChart" subtipo="bar">
                                        </button-chart>

                                        <button-chart indice="3" callback="pnlCtrl.grafico(tipo, subtipo)" titulo="Linhas" tipo="dxChart" subtipo="">
                                        </button-chart>

                                    </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label for="fFonte" class="control-label"><strong>Categoria: </strong></label>
                                            <select style="width: 40%; min-width: 120px" ng-model="pnlCtrl.categoriaAtual" ng-options="c as c.campo for c in pnlCtrl.fonteAtual.header"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                        <label for="fFonte" class="control-label"><strong>Valor: </strong></label>
                                            <select style="width: 40%; min-width: 120px" ng-model="pnlCtrl.valorAtual" ng-options="v as v.campo for v in pnlCtrl.fonteAtual.header"></select>
                                        </div>
                                    </div>
                                </div>

                            </ng-form>

                        </fieldset>

                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Fechar</button>

                        <button-spinner action="cliCtrl.enviar()" titulo="Salvar" verbo="POST" secure="true"></button-spinner>

                    </div>

                </form>

            </div>
        </div>
    </div>



    <!-- Modal de exibicao do Painel -->
<div class="modal fade modal-x" id="modalMaximo" tabindex="-1" role="dialog" style="position: absolute" aria-labelledby="myModalLabel">
  <div class="modal-dialog full modal-dialog-x" role="document">
    <div class="modal-content content-full modal-content-x">
      <div class="modal-header modal-header-x">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle modal-close-x" aria-hidden="true"></span></button>
        <h4 class="modal-title modal-title-x" id="myModalLabel">Título do Painel</h4>
      </div>
      <div class="modal-body modal-body-x">
        <div class="params">Parâmetros</div>
        <!-- Conteúdo aqui -->

      </div>

    </div>
  </div>
</div>

</div>
