<div>
    <div layout="row">
        <span flex></span>
        <md-input-container class="md-block" flex="40">
            <label>Painel</label>

            <input ng-model="painelAtual.titulo" required>
        </md-input-container>
        <span flex></span>
    </div>

    <md-grid-list
        md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
        md-row-height-gt-md="2:2" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" style="margin: 10px">

        <md-grid-tile ng-repeat="c in celulas" ng-class="classCelula(c.empty)" layout="column" layout-align="center center">
            <!-- Botão adicionar ou md-card chart -->
            <md-card class="full" ng-show="!c.empty">
                <div id="vis_div" style="width: 100%; height: 100%"></div>
            </md-card>

            <md-button class="md-fab md-mini" ng-click="loadEditor()" ng-show="c.empty">
                <md-icon>add</md-icon>
            </md-button>
        </md-grid-tile>

    </md-grid-list>
</div>


<!--

<md-button ng-click="loadEditor()">Gráfico</md-button>
<md-button ng-click="mudaDados()">Muda Dados</md-button>

<div id="vis_div" style="height: 400px; width: 600px;"></div>-->
