<div layout="row" layout-align="space-around center">
    <md-button class="md-fab md-fab-bottom-right" style="position:fixed" ng-click="showDialog($event)">
        <md-tooltip md-direction="left">
            Adicionar
        </md-tooltip>
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab md-fab-bottom-right md-mini md-primary" style="position:fixed; margin-bottom: 88px; margin-right: 16px" ng-disabled="isClearCheck()" ng-click="showConfirm($event)">
        <md-tooltip md-direction="left">
            Excluir
        </md-tooltip>

        <md-icon>clear</md-icon>
    </md-button>
</div>

<md-card>

<md-data-table
               titulo="Planos"
               items="plaCtrl.lista"
               header="[
                       { campo: 'nome', headerName: 'Nome', width: '20' },
                       { campo: 'descricao', headerName: 'Descrição', width: '40' },
                       { campo: 'preco', headerName: 'Preço', width: '20' },
                       { campo: 'limite_usuarios', headerName: 'Qt Usuários', width: '20' }
                       ]"
               selecionavel="true">
</md-data-table>

</md-card>






<!-- CODIGO VELHO -->

<!--
<div>
    <ul class="breadcrumb">
        <li><a href="#/principal">Início</a></li>
        <li class="active">Planos</li>
    </ul>

<button type="button" ng-click="plaCtrl.limpaPlano()" class="btn btn-default btn-md btn-success" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="POST">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar
</button>

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group has-feedback">
                <input class="form-control" type="search" ng-model="plaCtrl.busca" placeholder="Filtre planos ...">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    <form name="frm" ng-submit="plaCtrl.enviar()">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Plano</h4>

      </div>

      <div class="modal-body">



		<div class="row">
        	<div class="col-md-3">
        		<label for="fNome">Nome</label>
				<input class="form-control" name="fNome" type="text" ng-model="plaCtrl.plano.nome" required>
        	</div>
        	<div class="col-md-2">
        		<label for="fDescricao">Descrição</label>
				<input class="form-control" name="fDescricao" type="text" ng-model="plaCtrl.plano.descricao">
        	</div>

        	<div class="col-md-2">
        		<label for="fPreco">Preço</label>
				<input class="form-control" name="fPreco" type="number" ng-model="plaCtrl.plano.preco">
        	</div>
            <div class="col-md-2">
        		<label for="fLimite">Limite de Usuários</label>
				<input class="form-control" name="fLimite" type="number" ng-model="plaCtrl.plano.limite_usuarios">
        	</div>
    	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Fechar</button>
        <button-spinner action="plaCtrl.enviar()" titulo="Salvar" verbo="POST" secure="true"></button-spinner>
      </div>

      </form>
    </div>
  </div>
</div>



<table class="table table-stripped table-hover" guarda guarda-verbo="GET">
<thead>
	<tr>
    	<th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Limite</th>
        <th>Operações</th>
    </tr>
</thead>
<tbody>
	<tr ng-repeat="pla in plaCtrl.lista | orderBy: 'preco' | filter:plaCtrl.busca">
    	<td>{{pla.nome}}</td>
        <td>{{pla.descricao}}</td>
        <td>{{pla.preco}}</td>
        <td>{{pla.limite_usuarios}}</td>
        <td>
        	<button class="btn btn-warning btn-xs" type="button" ng-click="plaCtrl.editar(pla)" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="PUT"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>

            <button-spinner action="plaCtrl.remover(pla)" titulo="Remover" verbo="DELETE" size="xs" secure="true"></button-spinner>
        </td>
    </tr>
</tbody>
</table>
</div>-->
