<div layout="row" layout-align="space-around center">
    <md-button class="md-fab md-fab-bottom-right" style="position:fixed" ng-click="showDialog($event, null)">
        <md-tooltip md-direction="left">
            Adicionar
        </md-tooltip>
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab md-fab-bottom-right md-mini md-primary" style="position:fixed; margin-bottom: 88px; margin-right: 16px" ng-disabled="isClearCheck()" ng-click="showConfirm($event)">
        <md-tooltip md-direction="left">
            Excluir
        </md-tooltip>

        <md-icon>clear</md-icon>
    </md-button>
</div>

<md-card>

<md-data-table
               titulo="Planos"
               items="plaCtrl.lista"
               header="[
                       { campo: 'nome', headerName: 'Nome', width: '20', type: 'String' },
                       { campo: 'descricao', headerName: 'Descrição', width: '40', type: 'String' },
                       { campo: 'preco', headerName: 'Preço', width: '20', type: 'Number' },
                       { campo: 'limite_usuarios', headerName: 'Qt Usuários', width: '20', type: 'Number' }
                       ]"
               selecionavel="true"
               action="showDialog(evento, objeto)">
</md-data-table>

</md-card>
