<div layout="column" md-layout-padding style="padding: 10px">
<md-grid-list layout-fill flex md-cols-xs="1" md-cols-sm="3" md-cols-md="5" md-cols-gt-md="5"
              md-row-height="1.6:1" md-gutter="10px">
    <md-grid-tile ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] track by $index">
        <md-card layout-fill></md-card>
    </md-grid-tile>
</md-grid-list>
</div>


<!--

<div>
    <ul class="breadcrumb">
        <li><a href="#/principal">Início</a></li>
        <li class="active">Reports</li>
    </ul>

    <form class="form-horizontal" ng-show="repCtrl.isAdmin() || repCtrl.isMaster()">
        <div class="form-group">
            <label for="fUsuario" class="col-sm-2 control-label"><strong>Usuário</strong></label>
            <div class="col-sm-5">
                <select id="fUsuario" class="form-control" role="search" ng-model="repCtrl.usuarioId" ng-options="u.username as u.nome for u in repCtrl.usuarios" ng-change="repCtrl.mudaUsuario()">
                </select>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-3 report" ng-repeat="report in repCtrl.listaReports | orderBy: '-data'">

            <div class="cabecalho" title="{{report.titulo}}">{{report.titulo | limitTo: 22 }}</div>

            <div class="cartao" title="{{report.titulo}}" ng-click="repCtrl.clicado(report, $index)">

                    <img class="img_banner" src="http://begyn.com.br/biweb/imagens/banner_novo-01.png" ng-show="repCtrl.isNovo(report)">
                    <img class="img_report" ng-src="{{repCtrl.miniImagem(report)}}">

                <div id="spin{{$index}}" class="spinner ocultar">
                    <img class="img_spinner" ng-src="css/spinner.gif">
                </div>


            </div>

            <div class="rodape"><span>{{report.data | date: 'dd/MM/yyyy HH:mm:ss'}} ({{report.idag}})</span></div>

        </div>
    </div>
</div>


<div class="modal fade modal-x" id="modalMaximo" tabindex="-1" role="dialog" style="position: absolute" aria-labelledby="myModalLabel">
  <div class="modal-dialog full modal-dialog-x" role="document">
    <div class="modal-content content-full modal-content-x">
      <div class="modal-header modal-header-x">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove-circle modal-close-x" aria-hidden="true"></span></button>
        <h4 class="modal-title modal-title-x" id="myModalLabel">{{repCtrl.reportAtual.titulo}}</h4>
      </div>
      <div class="modal-body modal-body-x">
        <div class="params">{{repCtrl.reportAtual.parametros}}</div>

        <iframe class="full" id="frameHtml" src="" ng-show="repCtrl.isHtml(repCtrl.reportAtual)"></iframe>

        <figure ng-show="repCtrl.isImage(repCtrl.reportAtual)">
            <img ng-src="{{repCtrl.imagem(repCtrl.reportAtual)}}">
        </figure>
      </div>

    </div>
  </div>
</div>-->
