<div>
    <h2>Reports</h2>

    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-3 report" ng-repeat="report in repCtrl.listaReports">
            <div class="cabecalho"><span>{{report.titulo}}</span></div>
            <div class="row cartao">

                <div class="col-md-6 esquerda"><img class="img_report" ng-src="data:{{report.imagem.contentType}};base64,{{report.imagem.data}}"></div>

                <div class="col-md-2 direita"><span class="glyphicon glyphicon-heart-empty icone" aria-hidden="true"></span></div>

            </div>

            <div class="rodape"><span>{{report.data | date: 'dd/MM/yyyy HH:mm:ss'}}</span></div>

        </div>
    </div>

</div>
