<md-button class="md-fab md-fab-bottom-right md-mini md-primary" style="position:fixed; margin-bottom: 88px; margin-right: 16px" ng-disabled="isClearCheck()" ng-click="showConfirm($event)" ng-show="repCtrl.isAdmin() || repCtrl.isMaster()">
    <md-tooltip md-direction="left">
        Excluir
    </md-tooltip>

    <md-icon>clear</md-icon>
</md-button>

<md-data-table
               titulo="Reports"
               items="repCtrl.listaReports"
               header="[
                       { campo: 'icone', headerName: 'Tipo', width: '10', type: 'Icon' },
                       { campo: 'titulo', headerName: 'Título', width: '40', type: 'String' },
                       { campo: 'data', headerName: 'Data', width: '30', type: 'Date' },
                       { campo: 'idag', headerName: 'ID Agenda', width: '20', type: 'Number' }
                       ]",
               selecionavel="selecionavel",
               action="showDialog(evento, objeto)">
</md-data-table>
