<div layout="row" layout-align="space-around center">
    <md-button class="md-fab" style="position:relative; margin-bottom:-38px" ng-click="showDialog($event)">
        <md-tooltip md-direction="bottom">
            Adicionar
        </md-tooltip>
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-primary" style="position:relative; margin-bottom:-33px" ng-disabled="isClearCheckUnauth()" ng-click="showConfirmAuth($event)">
        <md-tooltip md-direction="bottom">
            Autorizar
        </md-tooltip>

        <md-icon>check</md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-primary" style="position:relative; margin-bottom:-33px" ng-disabled="isClearCheck()" ng-click="showConfirmRenew($event)">
        <md-tooltip md-direction="bottom">
            Renovar Senha
        </md-tooltip>

        <md-icon>undo</md-icon>
    </md-button>

    <md-button class="md-fab md-mini md-primary" style="position:relative; margin-bottom:-33px" ng-disabled="isClearCheck()" ng-click="showConfirmRemove($event)">
        <md-tooltip md-direction="bottom">
            Excluir
        </md-tooltip>

        <md-icon>clear</md-icon>
    </md-button>
</div>

<md-card>

<md-data-table
               titulo="Usuários"
               items="usrCtrl.lista"
               header="usrCtrl.headerAtual">
</md-data-table>

</md-card>

<!--<div>
    <ul class="breadcrumb">
        <li><a href="#/principal">Início</a></li>
        <li class="active">Usuários</li>
    </ul>

 <button type="button" ng-click="usrCtrl.limpaUsuario()" class="btn btn-default btn-md btn-success" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="POST"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Adicionar</button>

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="form-group has-feedback">
                <input class="form-control" type="search" ng-model="usrCtrl.busca" placeholder="Filtre usuários ...">
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

    <form name="frm" ng-submit="usrCtrl.enviar()">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Usuário</h4>

      </div>

      <div class="modal-body">




		<div class="row">
    		<div class="col-md-4">
        		<label for="fUsername">Username (e-mail)</label>
				<input class="form-control" name="fUsername" type="email" ng-model="usrCtrl.usuario.username" required>
        	</div>
        	<div class="col-md-3">
        		<label for="fNome">Nome</label>
				<input class="form-control" name="fNome" type="text" ng-model="usrCtrl.usuario.nome" required>
        	</div>
        	<div class="col-md-3">
        		<label for="fTelefone">Telefone</label>
				<input class="form-control" name="fTelefone" type="text" ng-model="usrCtrl.usuario.telefone">
        	</div>
    	</div>

    	<div class="row">
            <div class="col-md-4" ng-show="usrCtrl.isLogadoAdmin()">
        		<label for="fPerfil">Perfil</label>
				<select class="form-control" name="fPerfil" ng-model="usrCtrl.usuario.perfil" required>
    				<option value="master">Master de Cliente</option>
                    <option value="basico">Usuário Básico</option>
    				<option value="facilitador">Facilitador da DSView</option>
                    <option value="admin">Administrador da DSView</option>
				</select>
        	</div>

    		<div class="col-md-4" ng-show="usrCtrl.isLogadoAdmin() && usrCtrl.isCliente()">
        		<label for="fCliente">Cliente</label>
				<select class="form-control" name="fCliente" ng-model="usrCtrl.clienteAtual">
                    <option ng-repeat="cliente in usrCtrl.listaClientes" value="{{cliente._id}}">
                        {{cliente.nome_fantasia}}
                    </option>
				</select>
        	</div>

            <div class="col-md-3" ng-show="usrCtrl.isLogadoMaster() && (usrCtrl.isBasico() || usrCtrl.isVisual())">
        		<div class="checkbox">
                    <label>
                        <input type="checkbox" ng-true-value="'visual'" ng-false-value="'basico'" ng-model="usrCtrl.usuario.perfil"> Só Visualizar
                    </label>
                </div>
        	</div>

            <div class="col-md-3">
        		<div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="usrCtrl.usuario.ativo"> Ativo
                    </label>
                </div>
        	</div>

    	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Fechar</button>

        <button-spinner action="usrCtrl.enviar()" titulo="Salvar" verbo="POST" secure="true"></button-spinner>

      </div>

      </form>
    </div>
  </div>
</div>



<table class="table table-stripped table-hover" guarda guarda-verbo="GET">
<thead>
	<tr>
    	<th>Username</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Perfil</th>
        <th>Cliente</th>
        <th>Operacões</th>
    </tr>
</thead>
<tbody>
	<tr ng-repeat="usr in usrCtrl.lista | filter: usrCtrl.busca" guarda guarda-usuario="usr" guarda-verbo="GET">
    	<td>{{usr.username}}</td>
        <td>{{usr.nome}}</td>
        <td>{{usr.email}}</td>
        <td>{{usr.telefone}}</td>
        <td>{{usr.perfil}}</td>
        <td>{{usr.cliente.nome_fantasia}}</td>
        <td>
        	<button class="btn btn-warning btn-xs" type="button" ng-click="usrCtrl.editar(usr)" data-toggle="modal" data-target="#modalForm" guarda guarda-verbo="PUT"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button>

            <button-spinner action="usrCtrl.remover(usr)" titulo="Remover" verbo="DELETE" size="xs" secure="true"></button-spinner>

            <button-spinner action="usrCtrl.autorizar(usr)" titulo="Autorizar" verbo="PUT" size="xs" secure="true" perfil="master" show="!(usr.autorizado)"></button-spinner>

            <button-spinner action="usrCtrl.resetSenha(usr)" titulo="Reset Senha" verbo="PUT" size="xs" secure="true" perfil="master"></button-spinner>
        </td>
    </tr>
</tbody>
</table>
</div>-->
