<div layout="row" layout-align="space-around center">
    <md-fab-speed-dial md-direction="left" md-open="isOpen" class="md-fling md-fab-top-right" style="position: fixed; margin-top: 88px; margin-right: 8px">

        <md-fab-trigger>

            <md-button class="md-fab md-mini md-primary">
                <md-tooltip md-direction="bottom">Mais</md-tooltip>
            <md-icon>more_horiz</md-icon>
            </md-button>

        </md-fab-trigger>

        <md-fab-actions>
            <md-button class="md-fab md-mini md-raised md-primary" ng-disabled="isClearCheckUnauth()" ng-click="showConfirmAuth($event)">
                <md-icon>check</md-icon>
            </md-button>

            <md-button class="md-fab md-mini md-raised md-primary" ng-disabled="isClearCheck()" ng-click="showConfirmRenew($event)">
                <md-icon>undo</md-icon>
            </md-button>
        </md-fab-actions>

    </md-fab-speed-dial>

    <md-button class="md-fab md-fab-bottom-right" style="position: fixed" ng-click="showDialog($event)">
        <md-tooltip md-direction="left">
            Adicionar
        </md-tooltip>
        <md-icon>add</md-icon>
    </md-button>

    <md-button class="md-fab md-fab-bottom-right md-mini md-primary" style="position:fixed; margin-bottom: 88px; margin-right: 16px" ng-disabled="isClearCheck()" ng-click="showConfirmRemove($event)">
        <md-tooltip md-direction="left">
            Excluir
        </md-tooltip>

        <md-icon>clear</md-icon>
    </md-button>
</div>

<md-card>

<md-data-table
               titulo="Usuários"
               items="usrCtrl.lista"
               header="usrCtrl.headerAtual">
</md-data-table>

</md-card>
