<md-list layout="column">
    <md-subheader class="md-no-sticky">{{titulo}}</md-subheader>

    <md-divider></md-divider>

    <md-list-item>
        <md-checkbox></md-checkbox>

        <p ng-repeat="h in header">{{h.headerName}}</p>

    </md-list-item>

    <md-divider ng-repeat-start="i in items"></md-divider>

    <md-list-item ng-repeat-end >

        <md-checkbox ng-model="i.check"></md-checkbox>

        <p ng-repeat="h in header">{{i[h.campo]}}</p>

        <!--<p>{{i.razao_social}}</p>

        <p>{{i.nome_fantasia}}</p>-->

    </md-list-item>

</md-list>
