<md-list layout="column">
    <md-subheader>
        <div layout="row" layout-align="space-between center">
            <div>{{titulo}}</div>
            <div>{{items.length}} itens</div>
        </div>
    </md-subheader>

    <md-divider hide-sm hide-xs></md-divider>

    <md-list-item hide-sm hide-xs>
        <md-checkbox ng-model="allCheck" ng-init="allCheck=false" ng-change="toggleAllCheck()"></md-checkbox>

        <div layout="column" layout-gt-sm="row" layout-align="space-around start" layout-align-gt-sm="start center" flex="100">

        <p class="md-body-2 md-p" ng-repeat="h in header" flex="{{h.width}}">{{h.headerName}}</p>

        </div>

    </md-list-item>

    <md-divider ng-repeat-start="i in items"></md-divider>

    <md-list-item ng-repeat-end >

        <md-checkbox ng-model="i.check"></md-checkbox>

        <div layout="column" layout-gt-sm="row" layout-align="space-around start" layout-align-gt-sm="start center" flex="100">

        <p layout="row" layout-align="start center" ng-repeat="h in header" flex="{{h.width}}">
            <span class="md-body-2" hide-gt-sm>{{h.headerName}}:&nbsp;</span>
            <span class="md-body-1 md-p">{{i[h.campo]}}</span>
        </p>

        </div>

    </md-list-item>

</md-list>
