<!doctype html>

<html ng-app="biwebApp">
<head lang="pt">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <title>PWBI WEB</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/spinner.css">

  <link rel="stylesheet" type="text/css" href="css/dx.common.css" />
  <link rel="stylesheet" type="text/css" href="css/dx.light.css" />

</head>

<body ng-controller="MainController as main">
    <!-- Navigation -->

    <div ng-show="!main.isLogado()">
        <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">SEJA BEM-VINDO!</h1>
            <div class="account-wall">
                <img class="profile-img" src="imagens/logo_quadratica.png"
                    alt="">
                <form class="form-signin" ng-submit="main.logon()">
                <input type="text" class="form-control" placeholder="Email" ng-model="main.user.username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" ng-model="main.user.password" required>
                <div class="alert alert-danger" ng-show="main.statusLogin.erro">
                    <button type="button" class="close" ng-click="main.dismissAlert()">&times;</button>
                    {{main.statusLogin.mensagem}}
                    </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Entrar</button>
                <!--<label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Lembrar-me neste computador
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>-->
                </form>
            </div>
            <!--<a href="#" class="text-center new-account">Create an account </a>-->
        </div>
    </div>
</div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-top" ng-show="main.isLogado()">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand page-scroll" href="#page-top"><img src="img/logos/logo.png" height="36" alt="Logomarca Fidelidade Corretora de Seguros"/></a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <!-- <ul class="nav navbar-nav ng-cloak">
                	<li ng-repeat="permissao in main.usuario.permissoes">
                    	<a href="#/{{permissao.cadastro}}">{{permissao.nome}}</a>
                    </li>
                </ul>-->

                <ul class="nav navbar-nav navbar-right ng-cloak">
        			<li class="dropdown ng-cloak">
          				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{main.usuario.nome}} <span class="caret"></span></a>
          				<ul class="dropdown-menu">
            				<li><a href="#/senha">Trocar Senha</a></li>
            				<!--<li><a href="#/mensagens">Mensagens</a></li>-->
            				<li role="separator" class="divider"></li>
            				<li><a href="" ng-click="main.logout()">Sair</a></li>
          				</ul>
        			</li>
      			</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


  <div class="container painel" ng-view ng-show="main.isLogado()"></div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="js/angular.min.js"></script>
  <script src="js/angular-cookies.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-locale_pt-br.js"></script>

  <!-- Relativos ao DevExpressJS -->
  <script src="js/angular-sanitize.js"></script>
  <script src="js/globalize.js"></script>
  <script src="js/dx.webappjs.js"></script>
  <script src="js/dx.chartjs.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <script src="js/app.js"></script>

</body>
</html>
