<!doctype html>

<html ng-app="biwebApp">
<head lang="pt">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <title>PWBI WEB</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <link rel="stylesheet" type="text/css" href="css/dx.common.css" />
  <link rel="stylesheet" type="text/css" href="css/dx.light.css" />

</head>

<body ng-controller="MainController as main">
    <!-- Navigation -->

    <!-- MDL Layout -->

    <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header" ng-show="main.isLogado()">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>

          <!-- MDL - Menu da barra -->

          <!-- Right aligned menu below button -->
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a class="mdl-menu__link" href="#/senha">Senha</a></li>
            <li class="mdl-menu__item"><a href="" class="mdl-menu__link" ng-click="main.logout()">Sair</a></li>
          </ul>

      <!-- Fim do menu da barra -->



      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">PWBI - Web</span>
    <nav class="mdl-navigation">

      <a ng-repeat="p in main.usuario.permissoes" class="mdl-navigation__link" href="#/{{p.cadastro}}">{{p.nome}}</a>

    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" ng-view><!-- Your content goes here --></div>
  </main>
</div>


<div class="mdl-grid dark login-grid" ng-show="!main.isLogado()">
    <div class="mdl-layout-spacer"></div>
    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col login-card">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">SEJA BEM-VINDO</h2>
        </div>

        <form ng-submit="main.logon()">

        <div class="mdl-card__supporting-text">


                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="fUsername" ng-model="main.user.username" required autofocus>
                    <label class="mdl-textfield__label" for="fUsername">Username</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="fPassword" ng-model="main.user.password" required>
                    <label class="mdl-textfield__label" for="fPassword">Password</label>
                </div>


        </div>

        <div class="mdl-card__actions mdl-card--border">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--primary">LOGIN</button>
        </div>

        </form>

    </div>
    <div class="mdl-layout-spacer"></div>
</div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-locale_pt-br.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- Relativos ao DevExpressJS -->
  <script src="js/angular-sanitize.js"></script>
  <script src="js/globalize.js"></script>
  <script src="js/dx.webappjs.js"></script>
  <script src="js/dx.chartjs.js"></script>

  <script src="js/app.js"></script>

</body>
</html>
