<md-dialog class="dialog-form" aria-label="Cliente">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Plano</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <div layout="column" flex="100">

            <md-input-container class="md-block" flex="100">
                <label>Nome</label>

                <input ng-model="plano.nome" autofocus required>
            </md-input-container>

            <md-input-container class="md-block" flex="100">
                <label>Descrição</label>

                <input ng-model="plano.descricao">
            </md-input-container>

            <div layout="row" layout-align="start center" flex="100">

                <md-input-container class="md-block" flex="50">
                    <label>Preço</label>

                    <input type="number" step="0.01" ng-model="plano.preco" required>

                </md-input-container>

                <md-input-container class="md-block" flex="50">
                    <label>Limite de Usuários</label>

                    <input type="number" step="1" ng-model="plano.limite_usuarios" required>
                </md-input-container>

            </div>


            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="send(plano)" style="margin-right:20px;" >
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
