<md-dialog class="dialog-form" aria-label="Usuário">
  <ng-form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Usuário</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <div layout="column" flex="100">

            <md-input-container class="md-block" flex="100">
                <label>E-mail (username)</label>

                <input ng-model="usuario.username" autofocus required>
            </md-input-container>

            <md-input-container class="md-block" flex="100">
                <label>Nome</label>

                <input ng-model="usuario.nome" required>
            </md-input-container>

            <md-input-container class="md-block" flex="100">
                <label>Telefone</label>

                <input ng-model="usuario.telefone" required>
            </md-input-container>

            <md-input-container class="md-block" ng-show="isLogadoAdmin()" flex="100">
                <label>Perfil</label>

                <md-select ng-model="usuario.perfil">
                    <md-option value="admin">Administrador (dsview)</md-option>
                    <md-option value="facilitador">Facilitador (dsview)</md-option>
                    <md-option value="master">Master</md-option>
                    <md-option value="basico">Usuário Básico</md-option>
                </md-select>
            </md-input-container>

            <md-input-container ng-show="isLogadoAdmin() && isCliente()" flex="100">
                <label>Cliente</label>
                <md-select ng-model="usuario.cliente">
                    <md-option ng-repeat="cliente in clientes" value="{{cliente._id}}">
                        {{cliente.cnpj}} - {{cliente.nome_fantasia}}
                    </md-option>
                </md-select>
            </md-input-container>
            </div>

        </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="send(usuario)" style="margin-right:20px;" >
        Salvar
      </md-button>
    </md-dialog-actions>
  </ng-form>
</md-dialog>
