<md-dialog class="dialog-form" aria-label="Componente">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Fonte de Dados</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout="column">

            <md-input-container flex="50">
                <label>Fonte</label>
                <md-select ng-model="fonte">
                    <md-option ng-repeat="f in fontes" ng-value="f">
                        {{f.nome}}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="send(fonte)" style="margin-right:20px;" >
        Escolher
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
