<md-dialog class="fullscreen" aria-label="Report">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{report.titulo}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <h1>Olá</h1>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="" style="margin-right:20px;" >
        Salvar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
